# Database configuration
DATABASE_URL="postgresql://postgres:password@localhost:5432/taskmanager?schema=public"

# JWT configuration
JWT_SECRET=team_task_manager_secret_key
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123